<%- include("template/cabecera", {tituloWeb: 'Página de inicio'}) %>

    <div class="container">
      <h1>CRUD Mongo</h1>
       <a
       class="btn btn-success btn-block my-4"
       href="/mascotas/crear"
       >
        Crear nueva Mascota

    </a>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre </th>
            <th scope="col">Descripción</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
         
            <% if (arrayMascotas.length > 0) { %>
             <% arrayMascotas.forEach(dato => { %>
                <tr>
                <th scope="row"><%= dato.id %> </th>
                <td><%= dato.nombre %> </td>
                <td><%= dato.descripcion %> </td>
                <td>
                  <a
                  class="btn btn-warning btn-sm"
                  href="mascotas/<%= dato.id %>">
                    Editar
                  </a>
                </td>
            </tr>
             <% }) %>
            <% } %>

           
    
        
        </tbody>
      </table>
     
    </div>

<%- include("template/footer") %>